# link tham khao
https://www.journaldev.com/25670/install-wordpress-nginx-ubuntu

# mkdir -p /var/www/momkid


# cd /etc/nginx/sites-available
# cat wordpress.conf
server {
            listen 80 default_server;
            root /var/www/momkid/;
            index index.php index.html;
            # server_name SUBDOMAIN.DOMAIN.TLD;

	    	access_log /var/log/nginx/SUBDOMAIN.access.log;
    	    error_log /var/log/nginx/SUBDOMAIN.error.log;

            location / {
                         try_files $uri $uri/ /index.php?$args;
            }

            location ~ \.php$ {
                         include snippets/fastcgi-php.conf;
                         fastcgi_pass unix:/run/php/php7.2-fpm.sock;
            }
            
            location ~ /\.ht {
                         deny all;
            }

            location = /favicon.ico {
                         log_not_found off;
                         access_log off;
            }

            location = /robots.txt {
                         allow all;
                         log_not_found off;
                         access_log off;
           }
       
            location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
                         expires max;
                         log_not_found off;
           }
}

#command line

# config change owner permision to ubuntu
chown -R ubuntu:ubuntu /var/www/
chown -R www-data:www-data /var/www/
chmod -R 755 *

# copy source to server
scp -i "/mnt/d/PEM/wordpress-dev-server.pem" -r /mnt/d/Source/webpage/* ubuntu@ec2-54-255-59-193.ap-southeast-1.compute.amazonaws.com:/var/www/momkid/

ssh -i "/mnt/d/Tam/wordpress-dev-server.pem" ubuntu@ec2-54-255-59-193.ap-southeast-1.compute.amazonaws.com


scp -i "/mnt/d/Tam/wordpress-dev-server.pem" -r /mnt/d/Source/webpage/wp-content/uploads/* ubuntu@ec2-54-255-59-193.ap-southeast-1.compute.amazonaws.com:/var/www/momkid/wp-content/uploads/

cp /mnt/d/Source/webpage/wp-content/uploads/* /mnt/c/xampps/htdocts/webpage/wp-content/uploads/


scp -i "/mnt/d/Tam/wordpress-dev-server.pem" -r ubuntu@ec2-54-255-59-193.ap-southeast-1.compute.amazonaws.com:/var/www/momkid /mnt/d/Source/


# mysql
mysql -h mom-kid-rds-uat.cnfjkderbgc2.ap-southeast-1.rds.amazonaws.com -P 3306 -u admin -p

momkiddb123